.section__video__play {
   display:flex;
   justify-content: space-between;
}

.video__player {
   width: 100%;
   max-width: 1200px;
}

.video__player--img {
   margin-bottom: 20px;
   border: none;
   border-radius: 14px;
   background: dimgray;
}

.video__play__heading {
   margin-top: 0;
   margin-bottom: 14px;
   font-weight: bold;
   font-size: 36px;
   line-height: 45px;
   color: #192646;
}

.video__play__sub {
   margin-bottom: 38px;
   display: flex;
   justify-content: space-between;
}

.span {
   font-size: 20px;
   line-height: 25px;
   color: #C2C2C2;
}

.video__play__list {
   width: 100%;
   max-width: 300px;
   display: flex;
   justify-content: space-between;
}

.video__play__list__item {
   font-size: 16px;
   line-height: 20px;
   color: #192646;

   &:hover {
      color: red;
   }
}

.Video__play__info {
   display: flex;
}

.video__img--food {
   margin-right: 12px;
}

.video__play--box {
   width: 100%;
   max-width: 820px;
}


.box__heading {
   margin-top: 0;
   margin-bottom: 12px;
   font-weight: bold;
   font-size: 26px;
   line-height: 33px;
   color: #19202C;
}

.video__info--t {
   margin-top: 0;
   margin-bottom: 14px;
   font-weight: bold;
   font-size: 26px;
   line-height: 33px;
   color: #19202C;
}

.video__info--text {
   margin-top: 0;

   margin-bottom: 15px;
   font-size: 16px;
   line-height: 22px;
   color: #000000;
   opacity: 0.6;
}

.video__info--p {
   margin-top: 0;
   font-size: 20px;
   line-height: 25px;
   color: #C2C2C2;
}

.sub__btn {
   margin-left: auto;
}