.cities {
   position: relative;
   padding-top: 15px;
   padding-bottom: 25px;
}

.cities .container {
   margin-bottom: 30px;
}

.user_name {
   margin-left: 20px;
   font-weight: bold;
   font-size: 26px;
   line-height: 33px;
   color: #19202C;
}


.slider__item {
   margin-right: 10px;
}

.slider__item-title {
   margin: 0;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #19202C;
}

.slider__item-text {
   font-size: 13px;
   line-height: 16px;
   color: #C2C2C2;
}


.slider__item-name{
   font-size: 13px;
   line-height: 16px;  
   color: #C2C2C2;
}