.subscription {
   margin-bottom: 104px;
}

.subscriptions__heading {
   margin-top: 0;
   margin-bottom: 30px;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 23px;
   color: #000000;
}

.subscription__item {
   margin-bottom: 23px;
}

.subscription__avatar {
   margin-right: 10px;
}